.align-left {
    text-align: left;
}

/*
Zoom Slider #1
*/
.zoom-slide {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}

.zoom-slide .minus {
    flex: 1 auto;
}

.zoom-slide .slider {
    flex: 10 auto;
}

.zoom-slide .plus {
    flex: 1 auto;
}

/*
Timbre
 */
.timbre {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.timbre img.wave {
    width: 470px;
    height: 108px;
}
.timbre .desc {
    width: 20rem;
    align-self: center;
}

/*
Echelle
 */
table.echelle tr td {
    font-size: 2rem;
}

/*
Piano
 */
svg#piano-keyboard g.white rect{
    fill:white;stroke:black
}
svg#piano-keyboard g.black rect{
    fill:black;stroke:black
}
svg#piano-keyboard g.white text{
    font-size: 2rem;
    fill: black;
}
svg#piano-keyboard g.black text{
    font-size: 2rem;
    fill: white;
}