/*
Zoom Slider #1
*/
.zoom-slide {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}

.zoom-slide .minus {
    flex: 1 auto;
}

.zoom-slide .slider {
    flex: 10 auto;
}

.zoom-slide .plus {
    flex: 1 auto;
}

/*
Timbre
 */
.timbre {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.timbre img.wave {
    width: 470px;
    height: 108px;
}
.timbre .desc {
    width: 20rem;
    align-self: center;
}